actionlib==1.11.5
bleach==3.1.0
bondpy==1.7.16
camera-calibration==1.12.16
camera-calibration-parsers==1.11.10
catkin==0.6.18
certifi==2018.11.29
chardet==3.0.4
cv-bridge==1.11.12
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
diagnostic-analysis==1.8.9
diagnostic-common-diagnostics==1.8.9
diagnostic-updater==1.8.9
dynamic-reconfigure==1.5.43
entrypoints==0.3
gencpp==0.5.4
geneus==2.2.5
genlisp==0.4.15
genmsg==0.5.7
genpy==0.5.9
geographiclib==1.49
geopy==1.18.1
idna==2.8
image-geometry==1.11.12
interactive-markers==1.11.1
ipykernel==5.1.0
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
laser-geometry==1.6.4
MarkupSafe==1.1.0
matplotlib==3.0.2
message-filters==1.11.19
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.16.1
opencv-contrib-python==4.0.0.21
OWSLib==0.17.1
pandas==0.24.1
pandocfilters==1.4.2
pexpect==4.6.0
pickleshare==0.7.5
pluginlib==1.10.2
prometheus-client==0.5.0
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
pyproj==1.9.6
python-dateutil==2.8.0
python-qt-binding==0.2.19
pytz==2018.9
pyzmq==17.1.2
qt-dotgraph==0.2.30
qt-gui==0.2.30
qt-gui-cpp==0.2.30
qt-gui-py-common==0.2.30
qtconsole==4.4.3
requests==2.21.0
resource-retriever==1.11.6
rosbag==1.11.19
rosboost-cfg==1.12.7
rosclean==1.12.7
roscreate==1.12.7
rosgraph==1.11.19
roslaunch==1.11.19
roslib==1.12.7
roslint==0.10.0
roslz4==1.11.19
rosmake==1.12.7
rosmaster==1.11.19
rosmsg==1.11.19
rosnode==1.11.19
rosparam==1.11.19
rospy==1.11.19
rosservice==1.11.19
rostest==1.11.19
rostopic==1.11.19
rosunit==1.12.7
roswtf==1.11.19
rqt-action==0.3.13
rqt-bag==0.3.13
rqt-bag-plugins==0.3.13
rqt-console==0.3.13
rqt-dep==0.3.13
rqt-graph==0.3.13
rqt-gui==0.2.14
rqt-gui-py==0.2.14
rqt-image-view==0.3.13
rqt-launch==0.3.13
rqt-logger-level==0.3.13
rqt-moveit==0.4.3
rqt-msg==0.3.13
rqt-nav-view==0.4.3
rqt-plot==0.3.13
rqt-pose-view==0.4.3
rqt-publisher==0.3.13
rqt-py-common==0.3.13
rqt-py-console==0.3.13
rqt-reconfigure==0.3.13
rqt-robot-dashboard==0.4.3
rqt-robot-monitor==0.4.3
rqt-robot-steering==0.4.3
rqt-runtime-monitor==0.4.3
rqt-rviz==0.4.3
rqt-service-caller==0.3.13
rqt-shell==0.3.13
rqt-srv==0.3.13
rqt-tf-tree==0.4.3
rqt-top==0.3.13
rqt-topic==0.3.13
rqt-web==0.3.13
rviz==1.11.14
Send2Trash==1.5.0
sensor-msgs==1.12.4
simplegeneric==0.8.1
six==1.12.0
smach==2.0.0
smach-ros==2.0.0
smclib==1.7.16
terminado==0.8.1
testpath==0.4.2
tf==1.11.8
tf-conversions==1.11.8
tf2-geometry-msgs==0.5.13
tf2-kdl==0.5.13
tf2-py==0.5.13
tf2-ros==0.5.13
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xacro==1.10.6
